@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.start {
    position: relative; /* Ajuste para controlar el z-index */
    z-index: 1; /* Ajuste para controlar el z-index */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center.parallax-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    perspective: 1px;
    z-index: 1; /* Ajuste para cada contenedor parallax */
}

.sponsors.parallax-container {
    z-index: 2; /* Ajuste para cada contenedor parallax */
}

.sponsors .parallax-content {
    position: relative;
}

.parallax-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

.center img {
    width: 50%;
    height: auto;
    object-fit: contain;
}

.main-content {
    position: relative;
    text-align: center;
    z-index: 2; /* Ajuste para asegurar que main-content esté encima de parallax-container */
}

.main-content.presence {
    z-index: 3;
    align-items: flex-start;
}

.m-content-ab {
    width: 100%;
    text-align: center;
}

.timer-container {
    background-color: #e6ddd4;
}

/* #FFB832 */

.m-content-ab.timer-container > * {
    color: #959589;
}

.m-content-ab.sponsors-card > * {
    color: #a4927c;
}

.m-content-ab.presencia > * {
    color: #8d7569;
}

.m-content-ab h1 {
    padding: 5vh 0;
}

.presence {
    background: linear-gradient(315deg, #c1a78e, #ecdfcd);
    position: relative;
    perspective: 1px;
    display: flex;
    justify-content: center;
}

.presence_p {
    padding: 5vh 0 0 0;
}

h1 {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;  
    font-size: 55.0pt; 
}

.party-h1 {
    font-size: 38pt;
    margin: 5vh 0;
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.new-font {
    font-family: "Playwrite NG Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 28pt;
}

p {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;  
    font-size: 41.0pt;
}

.sponsors {
    background: #fff;
    padding: 20px 20px 6vh 20px;
}

.sponsors-card {
    border: 10px double #a4927e;
    padding: 10px;
}

p.little {
    font-size: 20pt;
}

.hr_padrinos {
    width: 50%;
    margin: 0 0 2vh 0;
}

.icon-option {
    display: none;
}

.bubble-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

.bubble {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
    height: 6rem;
    width: 6rem;
    opacity: 0;
    transform: scale3d(0,0,0);
    transition: background 0.4s ease, opacity 0.5s, transform 0.8s ease;
}

._1:hover,
._1:focus-visible {
    background: url('../assets/maps_bg.jpg');
    background-size: cover;
    transform: scale(1.05);
}

.bubble path {
    transition: fill 0.4s ease;
}

.bubble:hover path, .bubble:focus-visible path {
    fill: #fff;
}

.symbols {
    height: 3.2rem;
}

.bubble:hover svg, .bubble:focus-visible svg {
    will-change: background, transform, fill; /* Sugerencia al navegador para optimizar el cambio */
}

.inside {
    transform: scale3d(1,1,1) translate(0px);
    opacity: 1;
}

.green-code {
    background: -webkit-linear-gradient(#03a098, #01ef96);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dress-code_img {
    width: 100%;
    height: 26vh;
    object-fit: contain;
    margin: 8vh 0;
}

@media screen and (min-width: 761px) and (max-width: 990px) {
    .center {
        flex-direction: row;
    }
    .center img {
        width: 50%;
        height: auto;
    }
    .hr_padrinos {
        width: 50%;
    }
}

@media screen and (max-width: 760px) {
    .center {
        flex-direction: column;
    }
    .center img {
        width: 100%;
        height: auto;
    }
    .hr_padrinos {
        width: 100%;
    }
    .sponsors-card .new-font {
        font-size: 3.86vh;
    }
    .sponsors-card p {
        font-size: 9.1vh;
    }
}

@media screen and (orientation: landscape) and (max-width: 991px) {
    .center {
        flex-direction: row;
        align-items: center;
    }
    .center img {
        width: 50%;
        height: auto;
    }
    .start {
        height: 110vh;
    }
    .hr_padrinos {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .icon-option {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .sponsors {
        padding-bottom: 30vh;
    }
}

@media screen and (max-width: 400px) {
    .sponsors {
        padding-bottom: 60vh;
    }
}